
<html>
    <head>
        {% if title %}
        <title>{{ title }} - LMS</title>
        {% else %}
        <title>LMS</title>
        {% endif %}
    </head>
    <body>
          <div>
      LMS:
      <a href="{{ url_for('index') }}">Home</a>
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}">Login</a>
      {% else %}
      <a href="{{ url_for('user', email=current_user.email) }}">Profile</a>
      <a href="{{ url_for('logout') }}">Logout</a>
      <a href="{{ url_for('add_user') }}">Add user</a>
      <a href="{{ url_for('add_group') }}">Add group</a>
      <a href="{{ url_for('add_course') }}">Add course</a>
      {% endif %}
    </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
